<form class="body-header form-group"  ng-submit="submit(form)" >
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>My Books:</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">

                <div class="col-xs-12">
                    <label>Book name:</label>
                    <input type="text" class="form-control" name="name" ng-model="form.name"/>
                </div>

                <div class="col-xs-12">
                    <input type="submit" class="btn btn-primary" />
                </div>

            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-xs-12">
        <div class="book inline-block" ng-repeat="book in books">
            <a class="cover" ng-class="{'requested':book.requested}"><img ng-src="{{book.picture}}" alt="{{book.name}}" />
                <button type="button" class="close" ng-click="deleteBook(book)">×</button></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Your outstanding requests:</h2>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12" ng-repeat="request in requestByYou">
                <table class="table">
                    <tr>
                        <td>{{request.userbook.name}}</td>
                        <td>for</td>
                        <td>{{request.initiatorbook.name}}</td>
                        <td>
                            <span ng-if="request.active === false && request.status === true">
                                Approved, please contact the person.
                            </span>
                            <span ng-if="request.active === false && request.status === false">
                                Declined.
                            </span>
                            <span ng-if="request.active === true">
                                Waiting for approval
                                <input type="button" class="btn btn-danger" ng-click="deleteRequest(request,$index)" value="delete request"/>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><img ng-src="{{request.userbook.picture}}"/></td>
                        <td></td>
                        <td><img ng-src="{{request.initiatorbook.picture}}"/></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>The requests for you</h2>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12" ng-repeat="request in requestFrom">
                <table class="table">
                    <tr>
                        <td>{{request.initiatorbook.name}}</td>
                        <td>for</td>
                        <td>{{request.userbook.name}}</td>
                        <td>
                            <div ng-if="request.active === true">
                                <input type="button" class="btn btn-success" value="accept" ng-click="updateRequest(request,true,$index)"/>
                                <input type="button" class="btn btn-danger" value="decline" ng-click="updateRequest(request,false,$index)"/>
                            </div>
                            <div ng-if="request.active === false && request.status === true">
                                Approved, please contact the person.
                            </div>
                            <div ng-if="request.active === false && request.status === false">
                                Declined.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><img ng-src="{{request.initiatorbook.picture}}"/></td>
                        <td></td>
                        <td><img ng-src="{{request.userbook.picture}}"/></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
