<form class="body-header form-group" ng-submit="submit()">
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">

            <div class="col-xs-12">
                <label>Title</label>
                <input type="text" class="form-control" name="title" ng-model="form.title"/>
            </div>

            <div class="col-xs-12">
                <label>Picture</label>
                <input type="text" class="form-control" name="picture" ng-model="form.picture"/>
            </div>

            <div class="col-xs-12">
                <input type="submit" class="btn btn-primary" />
            </div>

        </div>
    </div>
</div>
</form>