<form class="body-header form-group"  ng-submit="submit()" >
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>Change Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">

                <div class="col-xs-12">
                    <label>Current Password</label>
                    <input type="password" class="form-control" name="username" ng-model="passwordform.username"/>
                </div>

                <div class="col-xs-12">
                    <label>New Password</label>
                    <input type="password" class="form-control" name="password" ng-model="passwordform.password"/>
                </div>

                <div class="col-xs-12">&nbsp;</div>

                <div class="col-xs-12">
                    <input type="submit" class="btn btn-primary" />
                </div>

            </div>
        </div>
    </div>
</form>


<form class="body-header form-group"  ng-submit="submit()" >
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>Profile Update</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">

                <div class="col-xs-12">
                    <label>name</label>
                    <input type="text" class="form-control" name="name" ng-model="updateform.name"/>
                </div>

                <div class="col-xs-12">
                    <label>city</label>
                    <input type="text" class="form-control" name="city" ng-model="updateform.city"/>
                </div>

                <div class="col-xs-12">
                    <label>state</label>
                    <input type="text" class="form-control" name="state" ng-model="updateform.state"/>
                </div>

                <div class="col-xs-12">&nbsp;</div>

                <div class="col-xs-12">
                    <input type="submit" class="btn btn-primary" />
                </div>

            </div>
        </div>
    </div>
</form>

